claudeserver:
  port: 8080
  tomcat:
    threads:
      max: 200
    connection-timeout: 20000ms

spring:
  application:
    name: api-gateway

  # Configuration Custom
  api:
    key:
      pepper: ${API_KEY_PEPPER}

  datasource:
    url: jdbc:postgresql://localhost:5434/soloflow_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 20000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  cloud:
    gateway:
      mvc:
        routes:
          - id: service-1
            uri: http://localhost:8081
            predicates:
              - Path=/api/v1/service-1/**
          - id: service-2
            uri: http://localhost:8082
            predicates:
              - Path=/api/v1/service-2/**
          - id: service-3
            uri: http://localhost:8083
            predicates:
              - Path=/api/v1/service-3/**
        default-filters:
          - name: RequestRateLimiter
            args:
              redis-rate-limiter.replenishRate: 100
              redis-rate-limiter.burstCapacity: 200
              key-resolver: "#{@userKeyResolver}"

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=1h

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    info:
      enabled: true
