version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: api-key-provider-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: api_key_provider_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - api-key-provider-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: api-key-provider-pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    ports:
      - "6432:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - api-key-provider-network
    depends_on:
      postgres:
        condition: service_healthy

networks:
  api-key-provider-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
